doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title= title

        link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
        script(src='/jquery/jquery.min.js')
        script(src='/popper.js/popper.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')

        link(rel='stylesheet' href='/video.js/video-js.min.css')
        script(src='/video.js/video.min.js')

        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/night-vision.css')
        link(rel='stylesheet', href='/stylesheets/temperature.css')
    body
        block content

