h5 Night Vision


dl.row
    dt.col-sm-2(id='nvRangeDisplay') Intensity
    dd.col-sm-10
        div.nv-slidecontainer
            input.nv-slider(id='nvRange'
                            type='range'
                            min='1'
                            max=maxIntensity
                            value='1')
    dt.col-sm-2 Duration
    dd.col-sm-10.pull-right
        div.btn-group.btn-group-sm.float-sm-right
            button.btn.btn-primary(onclick="turnOnNightVision(10 * 1000)") 10s
            button.btn.btn-primary(onclick="turnOnNightVision(30 * 1000)") 30s
            button.btn.btn-primary(onclick="turnOnNightVision(1 * 60 * 1000)") 1m
            button.btn.btn-primary(onclick="turnOnNightVision(5 * 60 * 1000)") 5m

script(type='text/javascript' src='/javascripts/night-vision.js')

h5
    a(href='/download/ca') Download the CA certificate

dl.row
    dt.col-sm-2 Android
    dd.col-sm-10 Settings > General > Security > Certificate Management > Trusted Credentials > User
    dt.col-sm-2 iOS
    dd.col-sm-10 Settings > General > Profile
